header {
    background-image: url("Assets/images.png");
    background-attachment: stretch;
    background-position: center;
  }

h1 {
    margin-top: 1.2rem;
}

h2 {
    font-size: 25px;
}

h3 {
    font-size: 20px;
}

body {
    background-color: rgb(240, 239, 239);
}

tbody, td, tfoot, th, thead, tr {
    border-width: 1px;
}

.container-fluid {
    padding-right: 80px;
}

.title {
    font-size: 20px;
    color: black;
    margin-left: 10px;
}

.navbar-light .navbar-nav .nav-link {
    color:black;
    font-size: 20px;
    font-weight:500;
}

.navbar-light .navbar-brand {
    font-weight: 500;
    font-size: 20px;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

#figure {
    position: relative;
}

#summary,
#vis-image {
    float: left;
}

@media (max-width: 425px) {
    .container-fluid {
        padding-right: 10px;
    }

    #summary,
    #vis-image {
    float:none;
    }

    #vis-image {
        width:351px;
        height:216px;
    }

}

@media (max-width: 320px) {
    #vis-image {
        width:310px;
        height:200px;
    }

}